<h1>team works!</h1>
<div nz-row class="index_row">
    <div nz-col nzSpan="6">
        <div class="thumbnail">
            <a href="https://www.denojs.cn">
                <img src="../../assets/images/alert.png" alt="">
            </a>
            <div class="caption">
                <h3>
                    <a href="#" target="_blank">Deno <br> <small>中文文档</small></a>
                </h3>
                <p>Deno是一个简单、现代且安全的JavaScript和TypeScript运行时，Deno基于V8引擎并使用Rust编程语言构建。</p>
            </div>
        </div>
       
    </div>
    <div nz-col nzSpan="6">
        <div class="thumbnail">
            <a href="https://www.denojs.cn">
                <img src="../../assets/images/alien-game.png" alt="">
            </a>
            <div class="caption">
                <h3>
                    <a href="#" target="_blank">Deno <br> <small>中文文档</small></a>
                </h3>
                <p>Deno是一个简单、现代且安全的JavaScript和TypeScript运行时，Deno基于V8引擎并使用Rust编程语言构建。</p>
            </div>
        </div>
       
    </div><div nz-col nzSpan="6">
        <div class="thumbnail">
            <a href="https://www.denojs.cn">
                <img src="../../assets/images/apple.png" alt="">
            </a>
            <div class="caption">
                <h3>
                    <a href="#" target="_blank">Deno <br> <small>中文文档</small></a>
                </h3>
                <p>Deno是一个简单、现代且安全的JavaScript和TypeScript运行时，Deno基于V8引擎并使用Rust编程语言构建。</p>
            </div>
        </div>
       
    </div><div nz-col nzSpan="6">
        <div class="thumbnail">
            <a href="https://www.denojs.cn">
                <img src="../../assets/images/apple1.png" alt="">
            </a>
            <div class="caption">
                <h3>
                    <a href="#" target="_blank">Deno <br> <small>中文文档</small></a>
                </h3>
                <p>Deno是一个简单、现代且安全的JavaScript和TypeScript运行时，Deno基于V8引擎并使用Rust编程语言构建。</p>
            </div>
        </div>
       
    </div><div nz-col nzSpan="6">
        <div class="thumbnail">
            <a href="https://www.denojs.cn">
                <img src="../../assets/images/apple2.png" alt="">
            </a>
            <div class="caption">
                <h3>
                    <a href="#" target="_blank">Deno <br> <small>中文文档</small></a>
                </h3>
                <p>Deno是一个简单、现代且安全的JavaScript和TypeScript运行时，Deno基于V8引擎并使用Rust编程语言构建。</p>
            </div>
        </div>
       
    </div><div nz-col nzSpan="6">
        <div class="thumbnail">
            <a href="https://www.denojs.cn">
                <img src="../../assets/images/apple3.png" alt="">
            </a>
            <div class="caption">
                <h3>
                    <a href="#" target="_blank">Deno <br> <small>中文文档</small></a>
                </h3>
                <p>Deno是一个简单、现代且安全的JavaScript和TypeScript运行时，Deno基于V8引擎并使用Rust编程语言构建。</p>
            </div>
        </div>
       
    </div><div nz-col nzSpan="6">
        <div class="thumbnail">
            <a href="https://www.denojs.cn">
                <img src="../../assets/images/aqua tile.png" alt="">
            </a>
            <div class="caption">
                <h3>
                    <a href="#" target="_blank">Deno <br> <small>中文文档</small></a>
                </h3>
                <p>Deno是一个简单、现代且安全的JavaScript和TypeScript运行时，Deno基于V8引擎并使用Rust编程语言构建。</p>
            </div>
        </div>
       
    </div><div nz-col nzSpan="6">
        <div class="thumbnail">
            <a href="https://www.denojs.cn">
                <img src="../../assets/images/archos-minihd.png" alt="">
            </a>
            <div class="caption">
                <h3>
                    <a href="#" target="_blank">Deno <br> <small>中文文档</small></a>
                </h3>
                <p>Deno是一个简单、现代且安全的JavaScript和TypeScript运行时，Deno基于V8引擎并使用Rust编程语言构建。</p>
            </div>
        </div>
       
    </div><div nz-col nzSpan="6">
        <div class="thumbnail">
            <a href="https://www.denojs.cn">
                <img src="../../assets/images/at.png" alt="">
            </a>
            <div class="caption">
                <h3>
                    <a href="#" target="_blank">Deno <br> <small>中文文档</small></a>
                </h3>
                <p>Deno是一个简单、现代且安全的JavaScript和TypeScript运行时，Deno基于V8引擎并使用Rust编程语言构建。</p>
            </div>
        </div>
       
    </div><div nz-col nzSpan="6">
        <div class="thumbnail">
            <a href="https://www.denojs.cn">
                <img src="../../assets/images/backup.png" alt="">
            </a>
            <div class="caption">
                <h3>
                    <a href="#" target="_blank">Deno <br> <small>中文文档</small></a>
                </h3>
                <p>Deno是一个简单、现代且安全的JavaScript和TypeScript运行时，Deno基于V8引擎并使用Rust编程语言构建。</p>
            </div>
        </div>
       
    </div><div nz-col nzSpan="6">
        <div class="thumbnail">
            <a href="https://www.denojs.cn">
                <img src="../../assets/images/backup1.png" alt="">
            </a>
            <div class="caption">
                <h3>
                    <a href="#" target="_blank">Deno <br> <small>中文文档</small></a>
                </h3>
                <p>Deno是一个简单、现代且安全的JavaScript和TypeScript运行时，Deno基于V8引擎并使用Rust编程语言构建。</p>
            </div>
        </div>
       
    </div><div nz-col nzSpan="6">
        <div class="thumbnail">
            <a href="https://www.denojs.cn">
                <img src="../../assets/images/bear-footin.png" alt="">
            </a>
            <div class="caption">
                <h3>
                    <a href="#" target="_blank">Deno <br> <small>中文文档</small></a>
                </h3>
                <p>Deno是一个简单、现代且安全的JavaScript和TypeScript运行时，Deno基于V8引擎并使用Rust编程语言构建。</p>
            </div>
        </div>
       
    </div><div nz-col nzSpan="6">
        <div class="thumbnail">
            <a href="https://www.denojs.cn">
                <img src="../../assets/images/blender.png" alt="">
            </a>
            <div class="caption">
                <h3>
                    <a href="#" target="_blank">Deno <br> <small>中文文档</small></a>
                </h3>
                <p>Deno是一个简单、现代且安全的JavaScript和TypeScript运行时，Deno基于V8引擎并使用Rust编程语言构建。</p>
            </div>
        </div>
       
    </div><div nz-col nzSpan="6">
        <div class="thumbnail">
            <a href="https://www.denojs.cn">
                <img src="../../assets/images/apple3.png" alt="">
            </a>
            <div class="caption">
                <h3>
                    <a href="#" target="_blank">Deno <br> <small>中文文档</small></a>
                </h3>
                <p>Deno是一个简单、现代且安全的JavaScript和TypeScript运行时，Deno基于V8引擎并使用Rust编程语言构建。</p>
            </div>
        </div>
       
    </div><div nz-col nzSpan="6">
        <div class="thumbnail">
            <a href="https://www.denojs.cn">
                <img src="../../assets/images/apple.png" alt="">
            </a>
            <div class="caption">
                <h3>
                    <a href="#" target="_blank">Deno <br> <small>中文文档</small></a>
                </h3>
                <p>Deno是一个简单、现代且安全的JavaScript和TypeScript运行时，Deno基于V8引擎并使用Rust编程语言构建。</p>
            </div>
        </div>
       
    </div><div nz-col nzSpan="6">
        <div class="thumbnail">
            <a href="https://www.denojs.cn">
                <img src="../../assets/images/archos-minihd.png" alt="">
            </a>
            <div class="caption">
                <h3>
                    <a href="#" target="_blank">Deno <br> <small>中文文档</small></a>
                </h3>
                <p>Deno是一个简单、现代且安全的JavaScript和TypeScript运行时，Deno基于V8引擎并使用Rust编程语言构建。</p>
            </div>
        </div>
       

  </div>